@model VanStoreBE.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bạn Có chắc chắn xóa người này không?</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusName)
        </dd>

        <dt>
            Email khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusEmail)
        </dd>


        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusPhone)
        </dd>


        <dt>
            Mã khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusPassword)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Xóa" class="btn btn-danger" />
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-info" })
</div>
    }
</div>
