@model VanStoreBE.Models.Product
<style>
   dt {
       color:red;
   }
</style>
<div>
    <h4 style="color:blue; font-weight:bold">CHI TIẾT SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            TÊN SẢN PHẨM
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProName)
        </dd>

        <dt>
            HÌNH ẢNH CHÍNH
        </dt>

        <dd>
            <img src="@Url.Content(Model.ProImage)" width="150" height="150" />
        </dd>

        <dt>
            HÌNH ẢNH PHỤ
        </dt>

        <dd>
            <img src="@Url.Content(Model.ProImageHover)" width="150" height="150" />
        </dd>

        <dt>
            MÔ TẢ SẢN PHẨM
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameDecription)
        </dd>
        <dt>
            SỐ LƯỢNG TỒN
        </dt>
<dd>
    @Html.DisplayFor(model => model.ViewQuantity)
</dd>
        <dt>
            TÊN DANH MỤC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-info" })
</p>
